﻿@{
    ViewBag.Title = "Home Page";
}
@model int
@using MVCCounter.Models;

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>@Html.DisplayForModel()</h1>
            <p>
                @{
                    var style = "btn btn-primary";
                    if (Model == Constant.MAX_COUNT)
                    {
                        style += " disabled";
                    }
                }
                @Html.ActionLink("Click here", "Click", null, new { @class = style })
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>